%h1 Personal records
= link_to 'Back to user page', user_path(@user)

%table.table
  %thead
    %tr
      %th Distance
      %th Time
      %th Date
      %th
      %th

  %tbody
    - @personal_records.each do |personal_record|
      %tr
        %td= personal_record.distance
        %td= personal_record.time
        %td= personal_record.date
        %td= link_to 'Edit', edit_personal_record_path(personal_record)
        %td= link_to 'Destroy', personal_record_path(personal_record), method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Personal Record', new_user_personal_record_path
