.row
  .col-12
    %h1 Users#edit
= form_for @user do |f|
  .form-group.row
    .col-md-6
      = f.label "First Name"
      = f.text_field :first_name, class: "form-control"

  .form-group.row
    .col-md-6
      = f.label "Last Name"
      = f.text_field :last_name, class: "form-control"

  .form-group.row
    .col-md-6
      = f.label "Birthday"
      = f.date_field :birthday, class: "form-control", max: Date.today

  .form-group.row
    .col-md-6
      = f.label "City"
      = f.text_field :city, class: "form-control"

  .form-group.row
    .col-md-6
      = f.label "Club name"
      = f.text_field :club_name, class: "form-control"

  .form-group.row
    .col-md-6
      = f.label "Experience"
      = f.date_field :experience, class: "form-control", max: Date.today

  .form-group.row
    .col-md-6
      - if @user.personal_records.any?
        Records:
        - @user.personal_records.each do |record|
          %p #{record.distance}
          %p #{record.time}
          %p #{record.date}
          %p= link_to 'Edit record', edit_personal_record_path(record)
        = link_to "Edit records", user_personal_records_path(@user)
      - else
        = link_to "Add records", new_user_personal_record_path(@user)

      / = f.fields_for :personal_records do |pr|
      /   = pr.text_field :distance, class: "form-control"
      /   = pr.time_field :time, class: "form-control"
      /   = pr.date_field :date, class: "form-control", max: Date.today


  = f.submit "save", class: "btn btn-primary"
