%h1 Users#edit
%p Find me in app/views/users/edit.html.erb
%p
  First name:
  =@user.first_name
= form_for @user do |f|
  = f.label "First Name"
  = f.text_field :first_name

  = f.label "Last Name"
  = f.text_field :last_name

  = f.submit "save"
