.row
  .col-12
    %h1 Users#edit
= form_for @user do |f|
  .form-group.row
    .col-md-6
      = f.label "First Name"
      = f.text_field :first_name, class: "form-control"

  .form-group.row
    .col-md-6
      = f.label "Last Name"
      = f.text_field :last_name, class: "form-control"

  .form-group.row
    .col-md-6
      = f.label "Birthday"
      = f.date_field :birthday, class: "form-control", max: Date.today

  .form-group.row
    .col-md-6
      = f.label "City"
      = f.text_field :city, class: "form-control"

  .form-group.row
    .col-md-6
      = f.label "Club name"
      = f.text_field :club_name, class: "form-control"

  .form-group.row
    .col-md-6
      = f.label "Experience"
      = f.date_field :experience, class: "form-control", max: Date.today

  = f.submit "save", class: "btn btn-primary"
