%p First name: #{@user.first_name}
%p Last name: #{@user.last_name}

%p Birthday: #{@user.birthday}
%p City: #{@user.city}

%p Club name: #{@user.club_name}
%p Experience: #{@user.experience}

- if @user.personal_records.any?
  %table.table
    %caption
      Personal Records
      = link_to "Add new record", new_user_personal_record_path(@user)
    %thead.thead-light
      %tr
        %th Distance
        %th Time
        %th Date
        %th
    %tbody
      - @user.personal_records.each do |record|
        %tr
          %td #{record.distance}
          %td #{record.time}
          %td #{record.date}
          %td= link_to 'Edit', edit_personal_record_path(record)

= link_to "Edit user", edit_user_path(@user), class: 'btn btn-primary'